.light {
  background-color: white;
}

.dark {
  background-color: black;
  color: black;
}

.welcome h1 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 600%;
  margin-left: 20px;
  margin-right: 20px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px;

}

.bottom button {
  width: 80px;
  height: 80px;
  font-size: 40px;
  border-style: dashed;
  border-radius: 1em;
}

#nav {
  width: 80px;
  height: 80px;
  font-size: 40px;
  border-style: dotted;
  border-radius: 1em;
  margin: 40px;
  background-color: white;
}

#nav:hover {
  background-color: rgb(192, 160, 211);
}

.menu a:visited {
  color: black;
}

.menu {
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.menu p {
  font-size: 20px;
}

#butt {
  background-color: white;
  color: black;
  
}

#butt:hover {
  background-color: black;
  color: white;
}

#butt2 {
  background-color: black;
  border-color: white;
  color: white;
}

#butt2:hover {
  background-color: white;
  color: black;
}


#emphasis:hover {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: white;
}

#emphasis2 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: white;
}

#UF:hover {
  color: orange;
}

#UF2 {
  color: orange;
}

#cs:hover {
  color: rgb(174, 72, 194);
  font-style: italic;
  font-weight: bold;
}

#cs2 {
  color: rgb(174, 72, 194);
  font-style: italic;
  font-weight: bold;
}

#cont {
  color: grey;
  padding-bottom: 10px;
}

li {
  display: inline;
  padding: 12px;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      /* overflow: hidden; */
      font-family: Arial, Helvetica, sans-serif;
    }

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 3em;

}

#homebutton {
  color: rgb(192, 160, 211);
    border-radius: 2px;
    background-color: white;
    width: 150px;
    font-size: 100px;
    border-style: none;
    /* padding-bottom: 1em; */
}

#homebutton:hover {
  background-color: rgb(157, 133, 171);
  box-shadow: none;
}

#restart {
  font-size: 16px;
  color: grey;
  font-style: italic;
  padding-top: 2em;
}